@model IEnumerable<RentalKendaraan.Models.Peminjaman>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Tanggal Peminjaman")
            </th>
            <th>
                @Html.DisplayName("Biaya")
            </th>
            <th>
                @Html.DisplayName("ID Customer")
            </th>
            <th>
                @Html.DisplayName("ID Jaminan")
            </th>
            <th>
                @Html.DisplayName("ID Kendaraan")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TglPeminjaman)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Biaya)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCustomerNavigation.IdCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdJaminanNavigation.IdJaminan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdKendaraanNavigation.IdKendaraan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPeminjaman"><i class="fa fa-marker fa-lg"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdPeminjaman"><i class="fas fa-list"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdPeminjaman"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
